.desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.desktop .frame {
  display: flex;
  height: 80px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .div {
  display: flex;
  width: 138px;
  align-items: center;
  position: relative;
}

.desktop .rectangle {
  position: relative;
  width: 80px;
  height: 80px;
}

.desktop .element {
  position: relative;
  width: 58px;
  height: 58px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .frame-2 {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop .rectangle-2 {
  position: relative;
  width: 34.14px;
  height: 80px;
}

.desktop .div-wrapper {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 45px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #b8b8b8;
  border-radius: 11px;
}

.desktop .text-wrapper {
  position: relative;
  width: 80px;
  height: 20px;
  margin-top: -0.5px;
  margin-left: -31.5px;
  margin-right: -31.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-3 {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 28px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #b8b8b8;
  border-radius: 11px;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: 80px;
  margin-top: -1.5px;
  margin-left: -14.5px;
  margin-right: -14.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-4 {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 35px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #b8b8b8;
  border-radius: 11px;
}

.desktop .text-wrapper-3 {
  position: relative;
  width: 80px;
  margin-top: -1.5px;
  margin-left: -21.5px;
  margin-right: -21.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-5 {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 25px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #b8b8b8;
  border-radius: 11px;
}

.desktop .text-wrapper-4 {
  position: relative;
  width: 80px;
  margin-top: -1.5px;
  margin-left: -11.5px;
  margin-right: -11.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-6 {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 36px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #b8b8b8;
  border-radius: 11px;
}

.desktop .text-wrapper-5 {
  position: relative;
  width: 80px;
  margin-top: -1.5px;
  margin-left: -22.5px;
  margin-right: -22.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-7 {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #b8b8b8;
  border-radius: 11px;
}

.desktop .text-wrapper-6 {
  position: relative;
  width: 80px;
  margin-top: -1.5px;
  margin-left: -6.5px;
  margin-right: -6.5px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-wrapper {
  display: flex;
  flex-direction: column;
  width: 314px;
  align-items: flex-end;
  gap: 10px;
  position: relative;
}

.desktop .rectangle-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 80px;
}

.desktop .frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 67px;
  padding: 68px 34px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #0a1428;
}

.desktop .frame-9 {
  position: relative;
  width: 1372px;
  height: 192px;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: calc(50% - 687px);
  width: 1373px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  top: 96px;
  left: calc(50% - 687px);
  width: 1373px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-10 {
  position: relative;
  width: 810px;
  height: 125px;
}

.desktop .image {
  position: absolute;
  top: -7px;
  left: 672px;
  width: 139px;
  height: 139px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .img {
  position: absolute;
  top: 6px;
  left: 519px;
  width: 112px;
  height: 112px;
  aspect-ratio: 1;
}

.desktop .image-2 {
  position: absolute;
  top: 6px;
  left: 337px;
  width: 112px;
  height: 112px;
  aspect-ratio: 1;
}

.desktop .image-3 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 114px;
  height: 125px;
  aspect-ratio: 0.91;
}

.desktop .element-2 {
  top: 6px;
  left: 1px;
  width: 112px;
  height: 112px;
  position: absolute;
  aspect-ratio: 1;
}

.desktop .frame-11 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 520px;
  background-color: #ffffff;
}

.desktop .img-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 881px;
  height: 520px;
  aspect-ratio: 1.69;
  object-fit: cover;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 882px;
  height: 520px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.desktop .frame-12 {
  position: absolute;
  top: 156px;
  left: 165px;
  width: 615px;
  height: 208px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 112px;
  left: calc(50% - 308px);
  width: 615px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 3px;
  left: calc(50% - 166px);
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 64px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .element-3 {
  top: 0;
  left: -2px;
  width: 83px;
  height: 83px;
  position: absolute;
  aspect-ratio: 1;
}

.desktop .img-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 881px;
  height: 520px;
  aspect-ratio: 1.69;
  object-fit: cover;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 881px;
  height: 520px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.desktop .frame-13 {
  position: absolute;
  top: 153px;
  right: 24px;
  width: 636px;
  height: 213px;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 8px;
  left: calc(50% - 197px);
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 64px;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 117px;
  left: calc(50% - 318px);
  width: 636px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 91px;
  aspect-ratio: 0.91;
}

.desktop .katarina {
  position: absolute;
  top: 0;
  right: 0;
  width: 882px;
  height: 520px;
  aspect-ratio: 1.69;
  object-fit: cover;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 3px;
  left: calc(50% - 166px);
  width: 474px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 83px;
  aspect-ratio: 1;
}

.desktop .frame-14 {
  position: absolute;
  top: 159px;
  right: 24px;
  width: 636px;
  height: 205px;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 1px;
  left: calc(50% - 196px);
  width: 514px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 109px;
  left: calc(50% - 317px);
  width: 635px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-6 {
  position: absolute;
  top: 0;
  right: 0;
  width: 881px;
  height: 520px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.desktop .frame-15 {
  position: absolute;
  top: 155px;
  left: 165px;
  width: 615px;
  height: 209px;
}

.desktop .text-wrapper-15 {
  position: absolute;
  top: 113px;
  left: calc(50% - 308px);
  width: 615px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: absolute;
  top: 4px;
  left: calc(50% - 168px);
  width: 475px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #090909;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-5 {
  position: absolute;
  top: -9px;
  left: -1px;
  width: 101px;
  height: 101px;
  aspect-ratio: 1;
  object-fit: cover;
}
/* Inject original CSS code here */

.desktop .frame-2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
}

.desktop .frame-2 a:hover {
  background-color: #a0a0a0;
}

.desktop .frame-2 a:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.desktop .frame-2 a:active {
  background-color: #909090;
}

.desktop .div-wrapper,
.desktop .frame-3,
.desktop .frame-4,
.desktop .frame-5,
.desktop .frame-6,
.desktop .frame-7 {
  cursor: pointer;
}
